<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Playground — Complete Intro to Vue 3</title>
</head>

<body>
  <h1>Hello Frontend Masters!</h1>
  <div id="app">
    <p v-if="characters.length === 0">There are no characters</p>

    <p v-else-if="characters.length === 1">There is one character</p>

    <ul v-else v-for="c in characters">
      <li>{{c.name}}</li>
      <li>{{c.age}} years old</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue

    const app = createApp({
      data: () => ({
        characters: [
          {
            name: "Superman",
            age: 88
          },
          {
            name: "Captain America",
            age: 108
          },
          {
            name: "Batman",
            age: 111
          },
          {
            name: "Daredevil",
            age: 31
          },
        ]
      })
    }).mount('#app')
  </script>
</body>

</html>